.linker {
  text-decoration: none;
  /* display: inline; */
  /* display: none; */
}
@media (max-width: 768px) {
  div.drop {
    width: 100% !important;
    margin-bottom: 3rem;
  }
  .search {
    width: 100% !important;
    margin-bottom: 3rem;
  }
}
